.tag {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    font-size: 12px;
    padding: 0 12px;
    text-align: center;
    background-color: #15222a;
    border: 2px solid #15222a;
    color: #a2adb5;
    border-radius: 1px;
}
