.progress {
    width: 250px;
    background-color: rgb(232, 232, 232);
    height: 12px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.8), 6px 2px 12px -2px rgba(0, 0, 0, 0.6);
    .progress-fill {
        display: flex;
        background-color: #15222a;
        height: 100%;
        max-width: 100%;
        width: 0;
        transition: 2s width ease-in-out;
    }
    .progress-info {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        height: 100%;
        transition: 2s width ease-in-out;
    }
}
